
body{

    background: url(Food_main_img.png) no-repeat;
    background-size: cover;
    background: #373837;
    position: relative;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    letter-spacing: 1px;
    font-family: "Optima", sans-serif;

}

.logo {
  cursor: pointer;
  font-family: "Optima", sans-serif;
  color: green;
  height: 40px;
  width: 200px;
  padding-left: 10px;
  border: none;
  font-weight: bold;
  color: #00e029;
  font-size: 30px;
  background: none;
  float: left;
}

nav {
  position: fixed;
  left: 0;
  z-index: 5;
  width: 100%;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

div {
  align-items: center;
}

.nav-button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  color: white;
  float: right;
  margin-left: 7px;
  margin-right: 7px;
  font-family: "Optima", sans-serif;
  font-size: 18px;
  background: none;
  transition: background 0.5s ease-in-out;
}

.nav-button:hover {
  background: #00ba3b;
  color: white;
  border-color: #00ba3b;
  transition-delay: 0.1s;
}

a {
  color: #00ba3b;
}

p {
  font-size: 18px;
  line-height: 30px;
  /* text-align: center; */
  width: 100%;
  font-weight: 400;
}

img {
    display: block;
    border-radius: 100%;
    /* box-shadow: -8px 8px 5px rgb(14, 14, 14); */
    border: 0.5rem solid #222;
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    margin: auto;
  /* padding-left: 5%; */
}

h1 {
  margin: 0.5rem 0;
  font-size: 2.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  --field-padding: 12px;
}

.custom-field input {
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  color: black;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 24px;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  line-height: 100%;
  transform: translateY(-21px);
  color: #00ba3b;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field .error-message {
  width: 10%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: #d30909;
  color: black;
  height: 24px;
}

.custom-field .error-message:empty {
  opacity: 0;
}
/* 
.center {
  top: 50%;
  text-align: center;
  transform: translateY(50%);
} */

.centersub {
  text-align: left !important;
}

.custom-field.one input,
.custom-field.two input {
  border-radius: 10px;
  border: none;
  z-index: 100;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  text-overflow: ellipsis;
  color: #00ba3b;
  height: 50px;
  width: 100%;
  outline: none;
  box-shadow: -5px 8px rgba(0, 0, 0, 0.2);
  border: rgba(255, 255, 255, 0.2);
  transition: border-color 0.3s ease;
  margin: 10px 0;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus,
.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  border: 2px solid #00ba3b;
  transition-delay: 0.1s;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:not(:placeholder-shown) + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 0;
  font-size: 11px;
  color: #00ba3b;
  background: #373837;
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  width: auto;
}

.custom-field.two input.dirty + .placeholder,
.custom-field.two input:not(:placeholder-shown) + .placeholder,
.custom-field.two input:focus + .placeholder {
  top: 0;
  font-size: 10px;
  color: #222;
  background: rgb(252 172 90);
  border-radius: 5px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  width: auto;
}

.form-input {
  width: 100%;
}

.submit-button {
  border: 2px solid #ffffff;
  height: 50px;
  width: 100%;
  margin: 15px auto;
  font-family: "Optima", sans-serif;
  font-weight: bold;
  border-radius: 100px;
  font-size: 14px;
  background: none;
  color: white;
  transition: background 0.5s ease-in-out;
}

.submit-button:hover {
  background: #00ba3b;
  color: white;
  border-color: #00ba3b;
  transition-delay: 0.1s;
}

::placeholder {
  color: black;
}

.profile_pic {
  /* margin-right: 0;
  float: right;
  margin: 50px;
  width: 50%; */
  padding: 2%;
  margin: auto;
  width: 50%;
  height: same-as-wdith;
  flex: 1;
}

.signin {
  margin: 10% 5%;
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(14, 14, 14);
  padding: 2.5%;
  border-radius: 2%;
  width: 80%;
  margin: auto;
  margin-top: 150px;
}

.profile {
    display: flex;
    width: 80%;
    margin: auto;
}

.main {
  /* background-color: #222; */
  padding: 5%;
  border-radius: 10px;
  /* box-shadow: -8px 8px 5px rgb(14, 14, 14); */
  float: left;
  width: 50%;
  align-items: center;
  flex: 1;
}

.name {
  display: flex;
}

.order-table {
    padding-top: 4%;
    display: block;
    width: 80%;
    margin: auto;
}

table {
    font-family: "Optima", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-weight: 400;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */

.table-label {
    font-weight: bold;
}