body{

    background-size: cover;
    background: #373837;
    position: relative;
    bottom: 10px;
    right: 10px;
	display: flex;
	flex-direction: none;
	letter-spacing: 1px;
	font-family: "Optima", sans-serif;
}

.logo{
    cursor: pointer;
    font-family: "Optima", sans-serif;
    color: green;
    padding-left: 20px;
    border: none;
    font-weight: bold;
    color: #00e029;
    font-size:calc(10px + 1.5vw);
    background: none;
    float: left;

}

#head-img, img{

    width: 101.2%;
    max-height: 700px;
    object-fit: cover;
    object-position: 10% 50%;
}

nav{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0,0,0,0.5);
    
}

.nav-button{
    position: relative;
    cursor: pointer;
    min-height: 40px;
    min-width: 120px;
    border: none;
    border-radius: 10px;
    color: white;
    float: right;
    padding-left: min(10px, 5%);
    font-family: "Optima", sans-serif;
    font-size:calc(5px + 1vw);
    margin-left: 5px;
    margin-right: 5px;
    background: none;
    transition: background 0.5s ease-in-out;

}

.nav-button:hover{
    background: #009930;
    color: white;
    border-color: #009930;
    transition-delay: 0.1s;
}
